<!DOCTYPE html>
<html>
<head><style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;

}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"><meta name="viewport" content="width=device-width, initial-scale=1">
<title>Investor Adventure!</title></head>
<body>
	<div class="center">
<section class="section">
    <div class="container">
      <h1 class="title">
        Select an Investment($500)
      </h1>
      <p class="subtitle">
        -current balance: $<%= currentBalance %>
      </p>
      <a href=../BTC/500/<%= currentBalance %>/1>
        <button class="button is-info">BTC</button>
        </a>
        <br>
        <br>
<a href=../JPY/500/<%= currentBalance %>/1>
        <button class="button is-info">JPY</button>
        </a>        <br>
        <br>
<a href=../GPD/500/<%= currentBalance %>/1>
        <button class="button is-info">GPD</button>
        </a>        <br>
        <br>
<a href=../ZCASH/500/<%= currentBalance %>/1>
        <button class="button is-info">ZCASH</button>
        </a>        <br>
        <br>
<a href=../XMR/500/<%= currentBalance %>/1>
        <button class="button is-info">XMR</button>
        </a>        <br>

    </div>
  </section></div></body></html>
