<!DOCTYPE html>
<html>
<head><style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;

}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"><meta name="viewport" content="width=device-width, initial-scale=1">
<title>Investor Adventure!</title></head>
<body>
	<div class="center">
<section class="section">
    <div class="container">
      <h1 class="title">
        Select an Investment($250)
      </h1>
      <p class="subtitle">
        -current balance: $<%= currentBalance %>
      </p>
      <a href=GME/250/<%= currentBalance %>/2>
        <button class="button is-info">GME</button>
        </a>
        <br>
        <br>
        <a href=NIO/250/<%= currentBalance %>/2>
        <button class="button is-info">NIO</button></a>
        <br>
        <br>
        <a href=AMC/250/<%= currentBalance %>/2>
        <button class="button is-info">AMC</button></a>
        <br>
        <br>
        <a href=TSLA/250/<%= currentBalance %>/2>
        <button class="button is-info">TSLA</button></a>
        <br>
        <br>
        <a href=AAPL/250/<%= currentBalance %>/2>
        <button class="button is-info">AAPL</button></a>
        <br>

    </div>
  </section></div></body></html>
